%h1= @event.title

%table
  %tr
    %th Location
    %td= @event.location
  %tr
    %th Date
    %td= @event.date
  %tr
    %th Creator
    %td= @event.creator.email
  %tr
    %th Description
    %td= @event.description

= form_tag(event_invites_path(@event)) do
  = label_tag :email, "Send invitation to:"
  = text_field_tag(:email)
  = submit_tag "Send"

%ul
  - @event.attendees.each do |attendee|
    %li= attendee.email
